"on":
  push:
    branches:
      - main
    paths-ignore:
      - cache/**
      - generated/**
  pull_request:
    types:
      - opened
      - synchronize
    paths-ignore:
      - cache/**
      - generated/**
name: Dry-run the update process
jobs:
  update_dry_run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: npm
          node-version: lts/*
      - run: npm ci
      - run: npm run download
      # - uses: actions/checkout@v4
      #   with:
      #     repository: xuorig/anicca
      #     path: anicca
      # - uses: actions-rs/toolchain@88dc2356392166efad76775c878094f4e83ff746
      #   with:
      #     toolchain: stable
      # - run: cargo build
      #   working-directory: anicca
      - run: npm run build
