on:
  push:
    paths-ignore:
      - cache/**
      - generated/**
name: Dry-run the update process
jobs:
  update_dry_run:
    runs-on: ubuntu-latest
    # These steps should be kept in sync with `update.yml` - minus the code that actually
    # commits, pushes and creates a PR.
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3
      - uses: actions/setup-node@eeb10cff27034e7acf239c5d29f62154018672fd # tag=v3
        with:
          cache: npm
          node-version: 16
      - run: npm ci
      - run: npm run download
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3
        with:
          repository: xuorig/anicca
          path: anicca
      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # tag=v1
        with:
          toolchain: stable
      - run: cargo build
        working-directory: anicca
      - run: npm run build
